target/
.vscode
projects
mainscripts/var/devmode
mainscripts/var/alias
mainscripts/var/asked
mainscripts/var/vc
mainscripts/var/pe
mainscripts/var/zenity
.idea
CMakeLists.txt
cmake-build-debug
__pycache__